



@media screen and (max-width: 35.5em){
  [class*="grid"] > [class*="col-4"] {
    &.gallery {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  #contacto{
    .title{
      margin-bottom: (10em/16);
    }
  }

  .page-title{
    font-size: (42em/16);
  }








}

@media screen and (max-width: 48em){
  #burger {
    display: block;
  }
  .header{
    padding-top: (10em/16);
  }
  .menu {
    background: #ffffff none repeat scroll 0 0;
    box-sizing: border-box;
    height: 100%;
    padding-left: 2.1875em;
    position: absolute;
    right: -600%;
    transition: right 0.5s ease 0s;
    z-index: 999;
    display: table;
    li{
      float: none !important;
      margin-bottom: (10em/16);
    }
  }

  #check:checked ~ .menu {
    right: 0;
  }
}


