@import 'mixin.scss';

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Light.woff') format('woff'),
  url('../fonts/Avenir-Light.ttf') format('truetype'),
  url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

html {
  background: #a3a3a3;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Avenir;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  max-width: (1280em/16);
  margin: 0 auto;
}

