@import 'mixin.scss';

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Light.woff') format('woff'),
  url('../fonts/Avenir-Light.ttf') format('truetype'),
  url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Book.woff') format('woff'),
  url('../fonts/Avenir-Book.ttf') format('truetype'),
  url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Medium.woff') format('woff'),
  url('../fonts/Avenir-Medium.ttf') format('truetype'),
  url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Heavy.woff') format('woff'),
  url('../fonts/Avenir-Heavy.ttf') format('truetype'),
  url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 700;
  font-style: normal;
}

html {
  background: #a3a3a3;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Avenir;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
}

.header {
  border-top: solid (30em/16) #E9212D;
  .header-wrapper {
    position: relative;
    .logo {
      position: absolute;
      top: (30em/16);
      left: 50%;
      transform: translate(-50%, 0);
    }
    .slogan {
      p {
        margin: 0;
      }

      font-size: (34em/16);
      font-weight: 500;
      color: #ffffff;
      position: absolute;
      bottom: (40em/34);
      left: 0;
      width: 100%;
      text-align: center;
    }
  }

  .menu-wrapper {
    position: absolute;
    width: 100%;
    bottom: (-30em/16);
    .menu {
      margin: 0 auto;
      display: table;
      width: 100%;
      line-height: (60em/16);
      box-shadow: -2px 5px 15px -4px black;
      li {
        float: left;
        width: 33.333%;
        background: #ffffff;
        a {
          display: block;
          color: #FFFFFF;
          font-size: (21em/16);
          text-transform: uppercase;
          text-decoration: none;
          background: #E9212D;
          text-align: center;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: (14em/16);
            height: (14em/16);
            background: url("../images/icon-stars.png") no-repeat;
            left: 10%;
            top: (14em/14);
          }

          &:hover{
            opacity: 0.8;
          }
        }

        &:nth-child(2) {
          a {
            background: #393F4D !important;
          }
        }
      }
    }
  }

  .logo-container {
    margin-top: (25em/16);
  }

}

.gradient {
  height: (160em/16);
  background: radial-gradient(#ffffff 0%, #393F4D 100%, #000000 150%);
}

.about-us {
  background: #F0F1F1;
  .about-us-content {
    margin-top: (45em/16);
    .title {
      font-size: (16em/16);
      font-weight: 300;
      color: #393F4D;
      margin-bottom: (30em/16);
      span {
        font-size: (25em/16);
        font-weight: 700;
      }
    }
    .text {
      color: #393F4D;
      font-weight: 300;
      text-align: justify;
      margin-bottom: (45em/16);
      p {
        font-size: (14em/16);
      }
    }
    .slogan {
      color: #393F4D;
      text-align: center;
      font-size: (23em/16);
      margin-top: (100em/23);
      line-height: 1.1;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: (67em/16);
        height: (10em/16);
        background: url("../images/icon-stars-gray.png") no-repeat;
        left: 55%;
        transform: translate(-50%, 0);
      }

      &:before {
        top: (-35em/16);
      }
      &:after {
        bottom: (-35em/16);
      }
    }

    .social {
      .fb {
        color: #393F4D;
        font-size: (20em/16);
        text-decoration: none;
        margin: (100em/20) auto 0;
        display: table;
        font-weight: 300;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: (40em/20);
          height: (40em/20);
          background: url("../images/icon-fb.png") no-repeat;
          left: (-50em/20);
          top: (-8em/20);
        }

        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}

.products{
  position: relative;
  background: #E9212D;
  padding-top: (70em/16);

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: (45em/16);
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    top: (-45em/16);
  }

  .prod-logo{
    position: absolute;
    width: (112em/16);
    height: (112em/15);
    top:(-70em/16);
    left: 50%;
    transform: translate(-50%, 0);

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: (89em/16);
      height: (14em/16);
      background: url("../images/icon-stars-white.png") no-repeat;
      transform: translate(-50%, 0);
      top: (40em/16);
    }

    &:before {
      right: -135%;
    }
    &:after {
      left: -57%;
    }

  }

  .title {
    font-size: (24em/15);
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: (30em/15);
    text-align: center;
    width: 100%;
    span {
      font-weight: 700;
    }
  }

  .prod-container{
    font-size: (13em/16);
    color: #393F4D;
    margin-bottom: (40em/16);
    text-decoration: none;

    &:hover{
      opacity: 0.8;
    }

    .prod-description{
      box-sizing: border-box;
      padding: (20em/16) (25em/16);
      background: #FFFFFF;
      p{
        margin: 0;
      }
      .prod-title{
        font-weight: 600;
      }
    }

    .prod-img{
      background: #ffffff;
      box-sizing: border-box;
      padding: (15em/16);
    }
  }

  .marks{
    background: #E8E8E8;
    padding: (10em/16) 0;
  }
}

.contact{
  background: #393F4D;
  font-weight: 300;
  border-bottom: solid (30em/16) #E9212D;
  .data{
    margin-top: (40em/16);
  }
  form{
    box-sizing: border-box;
    color: #ffffff;
  }
  .contact-data{
    li{
      margin-bottom: (30em/16);
      color: #ffffff;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        background: url("../images/contact-icons.png") no-repeat;
        height: (30em/16);
        width: (24em/16);
        top: 0;
        left: (-50em/16);
      }

      a{
        color: #ffffff;
        text-decoration: none;
        &:hover{
          opacity: 0.7;
        }
      }

      &.hours{
        &:before{
          background-position: 0 (-64em/16);
        }
      }

      &.mail{
        &:before{
          background-position: 0 (-135em/16);
        }
      }

      &.fb{

        &:before{
          left: (-40em/16);
          background-position: 0 -187px;
        }
      }
    }
  }

  .title{
    font-size: (22em/16);
    margin-bottom: (20em/22);
    font-weight: 300;
    color: #ffffff;
  }
  .input{
    background: transparent;
    border: solid 1px #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: (10em/16);
    color: #ffffff;
    padding: (3em/16) (5em/16);
  }
  .boton{
    background: transparent;
    border: solid 1px #ffffff;
    float: right;
    color: #ffffff;
    font-size: (12em/16);
    padding: (8em/16);
  }

  .mail{
    a{
      color: #ffffff;
      font-size: (20em/16);
      text-decoration: none;
      font-weight: 500;
    }
  }

  .fb{
    font-size: (20em/16);
    font-weight: 500;
  }

  .map{
    position: relative;
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      box-shadow:inset 0 0 100px #000000;
      z-index: 999;
      top:0;
      left: 0;
      position: absolute;
    }
  }
}

#back-top{
  position: fixed;
  bottom:5%;
  right: 5%;
  z-index: 99999;
  display: none;
}

.paginador{
  text-align: center;
  a{
    color: #ffffff;
    text-decoration: none;
    font-size: (18em/16);
  }
}