@font-face {
  font-family: 'MarketDeco';
  src: url("../fonts/MarketDeco.eot?#iefix") format("embedded-opentype"), url("../fonts/MarketDeco.woff") format("woff"), url("../fonts/MarketDeco.ttf") format("truetype"), url("../fonts/MarketDeco.svg#MarketDeco") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BelleroseLight';
  src: url("../fonts/BelleroseLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BelleroseLight.woff") format("woff"), url("../fonts/BelleroseLight.ttf") format("truetype"), url("../fonts/BelleroseLight.svg#BelleroseLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ITCKabelStd-Book';
  src: url("../fonts/ITCKabelStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCKabelStd-Book.otf") format("opentype"), url("../fonts/ITCKabelStd-Book.woff") format("woff"), url("../fonts/ITCKabelStd-Book.ttf") format("truetype"), url("../fonts/ITCKabelStd-Book.svg#ITCKabelStd-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  background: #fff; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em; }

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto; }

[class*="grid"] > [class*="col-4"].gallery {
  flex-basis: 31%;
  max-width: 31%; }

.header {
  padding-top: 3.125em;
  margin-bottom: 1.5625em; }
  .header .menu li {
    float: left;
    margin-right: 8.5%; }
    .header .menu li a {
      font-family: MarketDeco;
      font-size: 1.125em;
      color: #7E7E7D;
      text-decoration: none;
      text-transform: uppercase; }
    .header .menu li:last-child {
      margin-right: 0; }

.page-title {
  color: #B57E11;
  font-family: BelleroseLight;
  font-size: 4.375em;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0.64286em;
  position: relative;
  display: table; }
  .page-title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.04286em;
    bottom: -0.38571em;
    left: 0; }

.about {
  padding: 5.625em 0 !important; }

.page-text {
  font-family: ITCKabelStd-Book;
  color: #6A676D;
  font-size: 1.5em;
  box-sizing: border-box;
  padding-right: 8%; }

.museum {
  background: #C4C5C0;
  padding: 3.75em 0 6.25em !important; }
  .museum .page-title {
    color: #fff;
    margin-bottom: 1.25em; }
    .museum .page-title:before {
      background: #fff; }
  .museum .gallery {
    margin-bottom: 1.875em; }
    .museum .gallery a {
      display: block;
      padding-bottom: 0.9375em;
      border-bottom: solid 0.1875em #E3E3E3; }
    .museum .gallery .page-text {
      font-size: 1.25em;
      color: #7B7E75;
      text-align: justify;
      padding: 0; }

.expo {
  background: #ffffff;
  padding: 3.75em 0 6.25em !important; }
  .expo .page-title {
    color: #7E7E7D;
    margin-bottom: 1.25em; }
    .expo .page-title:before {
      background: #7E7E7D; }
  .expo .gallery {
    margin-bottom: 1.875em; }
    .expo .gallery .title {
      color: #B57E11;
      font-family: ITCKabelStd-Book;
      text-transform: uppercase;
      font-size: 1.375em;
      margin-top: 0.9375em;
      position: relative; }
      .expo .gallery .title:before {
        position: absolute;
        content: "";
        height: 1.875em;
        width: 1.875em;
        top: 0;
        left: -2.8125em;
        background: url("../images/more-expo.png") no-repeat; }
    .expo .gallery .page-text {
      font-size: 1.25em;
      color: #7B7E75;
      text-align: justify;
      padding: 0; }
      .expo .gallery .page-text p {
        margin: 0; }

.team {
  background: #CDC6B4;
  padding: 3.75em 0 6.25em !important; }
  .team .page-title {
    color: #fff;
    margin-bottom: 1.25em; }
    .team .page-title:before {
      background: #fff; }

/*# sourceMappingURL=style.css.map */
